PORT=3000

# Azure AD / Microsoft identity settings
AZURE_TENANT_ID=your-tenant-id
AZURE_CLIENT_ID=your-client-id
AZURE_CLIENT_SECRET=your-client-id-secret-value #store in a vault
TENANT_NAME=myco #used for CORS, among others

# OpenAI settings
OPENAI_API_KEY=your-openai-api-key #store in a vault
OPENAI_MODEL=gpt-4o-mini #optional, defaults to gpt-4o-mini